<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.Tillcart"/>
      <class name="test.RegisterTest"/>
      <class name="test.QuickViewTest"/>
      <class name="test.LoginPageTest"/>
      <class name="test.ExcelExtractionTest"/>
      <class name="test.Login_using_excelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
